generated/VehicleReservationService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://server/" name="VehicleReservationService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server/" schemaLocation="VehicleReservationService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="cancelReservation">
    <part name="parameters" element="tns:cancelReservation"/>
  </message>
  <message name="cancelReservationResponse">
    <part name="parameters" element="tns:cancelReservationResponse"/>
  </message>
  <message name="findVehicle">
    <part name="parameters" element="tns:findVehicle"/>
  </message>
  <message name="findVehicleResponse">
    <part name="parameters" element="tns:findVehicleResponse"/>
  </message>
  <message name="listCustomerReservations">
    <part name="parameters" element="tns:listCustomerReservations"/>
  </message>
  <message name="listCustomerReservationsResponse">
    <part name="parameters" element="tns:listCustomerReservationsResponse"/>
  </message>
  <message name="addToWaitList">
    <part name="parameters" element="tns:addToWaitList"/>
  </message>
  <message name="addToWaitListResponse">
    <part name="parameters" element="tns:addToWaitListResponse"/>
  </message>
  <message name="getStateSnapshot">
    <part name="parameters" element="tns:getStateSnapshot"/>
  </message>
  <message name="getStateSnapshotResponse">
    <part name="parameters" element="tns:getStateSnapshotResponse"/>
  </message>
  <message name="loadStateSnapshot">
    <part name="parameters" element="tns:loadStateSnapshot"/>
  </message>
  <message name="loadStateSnapshotResponse">
    <part name="parameters" element="tns:loadStateSnapshotResponse"/>
  </message>
  <message name="updateReservation">
    <part name="parameters" element="tns:updateReservation"/>
  </message>
  <message name="updateReservationResponse">
    <part name="parameters" element="tns:updateReservationResponse"/>
  </message>
  <message name="addVehicle">
    <part name="parameters" element="tns:addVehicle"/>
  </message>
  <message name="addVehicleResponse">
    <part name="parameters" element="tns:addVehicleResponse"/>
  </message>
  <message name="removeVehicle">
    <part name="parameters" element="tns:removeVehicle"/>
  </message>
  <message name="removeVehicleResponse">
    <part name="parameters" element="tns:removeVehicleResponse"/>
  </message>
  <message name="listAvailableVehicle">
    <part name="parameters" element="tns:listAvailableVehicle"/>
  </message>
  <message name="listAvailableVehicleResponse">
    <part name="parameters" element="tns:listAvailableVehicleResponse"/>
  </message>
  <message name="reserveVehicle">
    <part name="parameters" element="tns:reserveVehicle"/>
  </message>
  <message name="reserveVehicleResponse">
    <part name="parameters" element="tns:reserveVehicleResponse"/>
  </message>
  <portType name="VehicleReservationWS">
    <operation name="cancelReservation">
      <input wsam:Action="http://server/VehicleReservationWS/cancelReservationRequest" message="tns:cancelReservation"/>
      <output wsam:Action="http://server/VehicleReservationWS/cancelReservationResponse" message="tns:cancelReservationResponse"/>
    </operation>
    <operation name="findVehicle">
      <input wsam:Action="http://server/VehicleReservationWS/findVehicleRequest" message="tns:findVehicle"/>
      <output wsam:Action="http://server/VehicleReservationWS/findVehicleResponse" message="tns:findVehicleResponse"/>
    </operation>
    <operation name="listCustomerReservations">
      <input wsam:Action="http://server/VehicleReservationWS/listCustomerReservationsRequest" message="tns:listCustomerReservations"/>
      <output wsam:Action="http://server/VehicleReservationWS/listCustomerReservationsResponse" message="tns:listCustomerReservationsResponse"/>
    </operation>
    <operation name="addToWaitList">
      <input wsam:Action="http://server/VehicleReservationWS/addToWaitListRequest" message="tns:addToWaitList"/>
      <output wsam:Action="http://server/VehicleReservationWS/addToWaitListResponse" message="tns:addToWaitListResponse"/>
    </operation>
    <operation name="getStateSnapshot">
      <input wsam:Action="http://server/VehicleReservationWS/getStateSnapshotRequest" message="tns:getStateSnapshot"/>
      <output wsam:Action="http://server/VehicleReservationWS/getStateSnapshotResponse" message="tns:getStateSnapshotResponse"/>
    </operation>
    <operation name="loadStateSnapshot">
      <input wsam:Action="http://server/VehicleReservationWS/loadStateSnapshotRequest" message="tns:loadStateSnapshot"/>
      <output wsam:Action="http://server/VehicleReservationWS/loadStateSnapshotResponse" message="tns:loadStateSnapshotResponse"/>
    </operation>
    <operation name="updateReservation">
      <input wsam:Action="http://server/VehicleReservationWS/updateReservationRequest" message="tns:updateReservation"/>
      <output wsam:Action="http://server/VehicleReservationWS/updateReservationResponse" message="tns:updateReservationResponse"/>
    </operation>
    <operation name="addVehicle">
      <input wsam:Action="http://server/VehicleReservationWS/addVehicleRequest" message="tns:addVehicle"/>
      <output wsam:Action="http://server/VehicleReservationWS/addVehicleResponse" message="tns:addVehicleResponse"/>
    </operation>
    <operation name="removeVehicle">
      <input wsam:Action="http://server/VehicleReservationWS/removeVehicleRequest" message="tns:removeVehicle"/>
      <output wsam:Action="http://server/VehicleReservationWS/removeVehicleResponse" message="tns:removeVehicleResponse"/>
    </operation>
    <operation name="listAvailableVehicle">
      <input wsam:Action="http://server/VehicleReservationWS/listAvailableVehicleRequest" message="tns:listAvailableVehicle"/>
      <output wsam:Action="http://server/VehicleReservationWS/listAvailableVehicleResponse" message="tns:listAvailableVehicleResponse"/>
    </operation>
    <operation name="reserveVehicle">
      <input wsam:Action="http://server/VehicleReservationWS/reserveVehicleRequest" message="tns:reserveVehicle"/>
      <output wsam:Action="http://server/VehicleReservationWS/reserveVehicleResponse" message="tns:reserveVehicleResponse"/>
    </operation>
  </portType>
  <binding name="VehicleReservationWSPortBinding" type="tns:VehicleReservationWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="cancelReservation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findVehicle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listCustomerReservations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addToWaitList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getStateSnapshot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="loadStateSnapshot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateReservation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addVehicle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeVehicle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listAvailableVehicle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="reserveVehicle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="VehicleReservationService">
    <port name="VehicleReservationWSPort" binding="tns:VehicleReservationWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

